.modal-overlay{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal{
    width: 1000px;
    height: 500px;
    background-color: #1b263b;
    display: grid;
    grid-template-columns: 700px auto;
    grid-template-rows: 50px 400px 50px;
}

.title-container{
    height: auto;
    // background-color: aqua;
}


.input-title{
    width: 600px;
    font-style: italic;
    margin-top: 10px;
    margin-left: 32px;
    font-size: 20px;
    background: none;
    border: 1px solid ;
    border-color: white;
    border-radius: 10px;
    color: white;
}

.custom-container{
    // background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
}
.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // background-color: brown;
}

.content-text-area{
    resize: none;
    width: 90%;
    height: 90%;
    background: none;
    color: white;
    font-size: 20px;
    }



.content-text-area::-webkit-scrollbar{
    background: none;

}

.content-text-area::-webkit-scrollbar-track{
    background-color: none;
}

.content-text-area::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
}



.buttons-post{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
    align-items: center;
}


.confirm-cancel-buttons{
    font-size: 20px;
    border-radius: 15px;
    border: none;
    border-color: white;
    cursor: pointer;
    
    
}





.confirm-button{
    background-color: rgb(39, 133, 39);
}

.cancel-button{
    background-color: rgb(134, 42, 42);
}


.arrow-button-img{
    width: 20px;
    height: 20px;
    transition: transform 1.0s;
}

.category-button{
    font-weight: bold;
    background-color: rgb(228, 217, 217);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    margin: 3px;
    transition: background-color 1s;

}

.custom-section{
    display: inline;
    overflow-y: auto;
    overflow-x: hidden;
}


.programming-category-button:hover{
    background-color: rgb(0, 106, 255);
}

.art-category-button:hover{
    background-color: chartreuse;
}

.anime-category-button:hover{
    background-color: red;
}

.manga-category-button:hover{
    background-color: gray;
}

.music-category-button:hover{
    background-color: darkkhaki;
}


