.titulo{
    color: white;
}


.sample-content{
    color: white;
}

.post-container{
    width: 500px;
    cursor: pointer;
    transition: transform 0.5s;
}

.img-content{
    width: 100%;
}


.post-container:hover{
    transform: scale(1.01);
}

hr{
    margin-top: 20px;
}


