body {
    background-color: #0d1b2a;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    transform: scale(1);
}


.main-nav{
    display: flex;
}

.nav-sections{
    display: flex;
}
#brand{
    color: white;
}